img {
    /* margin-top: 15px; */
    box-shadow: 0px 0px 15px teal;
    border: 5px solid;
    border-image:   linear-gradient(to bottom right, teal 25%, lightgreen 25%, lightgreen 50%,teal 50%, teal 75%, lightgreen 75%) 5;
}

h1 {
    text-align: center;
}

body {
    border-top: 15px solid;
    border-image:   linear-gradient(to right, gray 25%, yellowgreen 25%, yellowgreen 50%,gray 50%, gray 75%, yellowgreen 75%) 5;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 2px;
    grid-row-gap: 4px;
    color: #ccff00    
}

.div1 {
    grid-area: 1 / 1 / 6 / 2; 
    background-color: #010e04f0;
}

.div2 {
    grid-area: 1 / 2 / 2 / 5; 
    background-color: #010e04f0;
}

.div3 {
    grid-area: 1 / 5 / 3 / 6; 
    background-color: #010e04f0;
}

.div4 {
    grid-area: 3 / 5 / 6 / 6; 
    background-color: #010e04f0;
}

.div5 {
    grid-area: 2 / 2 / 6 / 5; 
    background-color: #010e04f0;
}
