/* --- Reset Styles --- */
* {
  list-style: none;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

/* --- Navigation --- */
nav {
  background-color: var(--red);
  padding: var(--side-spacing);
  color: var(--white);
  font-size: 1.2rem;
}

nav a {
  color: var(--white);
  text-decoration: none;
}

nav a:hover,
nav a:focus {
  color: var(--yellow);
  text-decoration: underline;
}

/* --- Main Body --- */
body {
  /* --- Variables --- */
  --main-text: #333;
  --red: #f9595a;
  --yellow: #f8d071;
  --green: #48ab82;
  --turquoise: #147178;
  --white: #ffffff;
  --off-white: #fdfdea;
  --transparent-black: #000000ab;
  --side-spacing: 2.25%;

  color: var(--main-text);
  background-color: var(--off-white);
  font-family: 'Josefin Sans', sans-serif;
  line-height: 18px;
  position: relative;
  min-height: 100vh;
}

.content-wrapper {
  padding: var(--side-spacing);
}

h1 {
  font-size: 36px;
  line-height: 54px;
  font-family: 'Press Start 2P', cursive;
}

h2 {
  border-bottom: 2px solid #ccc;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 16px;
}

h3 {
  font-size: 18px;
  line-height: 36px;
}

p {
  margin-bottom: 18px;
}

.main {
  overflow: hidden;
}

.content {
  float: left;
  width: 60%;
}

/* --- Footer --- */
footer {
  border-top: 1px solid #ccc;
  bottom: 0;
  padding: 1% var(--side-spacing);
}

/* --- Forms and Inputs --- */
.input-wrapper {
  margin: 15px 0;
}

.input-wrapper label {
  display: block;
  font-size: 20px;
}

.input-wrapper input,
.input-wrapper textarea {
  min-width: 350px;
}

input,
textarea {
  padding: 0.5em 0.6em;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  vertical-align: middle;
  box-sizing: border-box;
}

/* --- Buttons --- */
.button {
  background: #7c7c7c;
  border-bottom: 6px inset rgba(0, 0, 0, 0.5);
  border-left: 6px inset rgba(0, 0, 0, 0.5);
  border-right: 6px inset rgba(255, 255, 255, 0.5);
  border-top: 6px inset rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 1.4rem;
  padding: 0.5rem 1.5rem;
  background: var(--green);
  line-height: 30px;
  vertical-align: top;
}

a.button {
  text-decoration: none;
}

.button:hover,
.button:focus {
  background: var(--turquoise);
}

/* --- Game Index Page --- */
.games {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin: 20px 0;
  grid-auto-rows: 250px;
}

.games .game {
  position: relative;
  width: 100%;
}

.games .game .image {
  width: 100%;
  height: 100%;
}

.games .game img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.games .game-info {
  position: absolute;
  bottom: 0;
  left: 0;
  color: var(--white);
  background: var(--transparent-black);
  padding: 10px;
  width: calc(100% - 20px);
  height: 100px;
  display: flex;
  flex-direction: column;
}

.games .game-info .title {
  font-family: 'Press Start 2P', cursive;
  color: var(--white);
  margin-bottom: 10px;
}

.games .game-info .description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

/* --- Game Show Page --- */
.single-game {
  margin-top: 10px;
}

.single-game img {
  object-fit: cover;
  width: 100%;
  height: 250px;
  padding-right: 20px;
}

.single-game .description {
  font-size: 22px;
  line-height: 30px;
}

.delete-form {
  display: inline-block;
}

form input.button {
  border-radius: 0;
  box-shadow: none;
}

/* --- Media Queries --- */
@media screen and (max-width: 850px) {
  .games {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 600px) {
  .content-wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: auto;
  }

  h1 {
    font-size: 24px;
    line-height: 36px;
  }

  h2 {
    font-size: 18px;
    line-height: 24px;
  }
}

@media screen and (max-width: 550px) {
  .games {
    grid-template-columns: 1fr;
  }
}
